  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;  
  }
body{
    overflow: hidden;
    background-color: #f3f5f8;

}
.container{
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 70px;
    line-height: 80px;
    z-index: 111;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight:bolder;
    letter-spacing: 3px;
    color:grey;
    cursor: pointer;
    text-transform: uppercase;
}
.logo b{
    font-size: 45px;
    color:#942cfd;
}
.nav-items{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin: 0 15px;;
}
.nav-items li a{
    font-size: 20px;
    text-decoration: none;
    color: grey;
    letter-spacing: 2px;
    transition: font-size 0.15s,color 0.15s;
}
.nav-items li:hover a{
    color: #b671fa;
    font-size: 22px;
}
.nav-items li:active a{
    color:#942cfd;
}
.links a{
    font-size: 30px;
    color: grey ;
    margin: 25px 10px;
    transition: font-size 0.15s,color 0.15s;
}
.links a:hover{
    color: #b671fa;
    font-size: 32px;
}
.links a:active{
    color:#942cfd;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content:left;
    align-items:center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 500px;
    width: 500px;
    border-radius: 50%;
    left: -12%;
    top:30%;
    background: linear-gradient(#c3bdc9,#6014ac);
    animation: object1 2s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 30%;
    top:22%;
    background: linear-gradient(#c3bdc9,#6014ac);
    animation: object2 2s linear infinite;
}
@keyframes object1{
    50%{
        top: 32%;
        left:-12%;
    }
}
@keyframes object2{
    50%{
        top: 20%;
        left:30%;
    }
}
.cols{
    width: 50%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 25px;
    letter-spacing: 3px;
    color:grey;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color:#942cfd;
}
h1{
    display: block;
    font-size: 3em;
    font-weight:bolder;
    color: rgb(63, 63, 63);
}
.multiText{
    color:#942cfd;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color:rgb(63, 63, 63) ;
}
.buttons{
    margin-top: 5px;
}
.buttons button{
        border-color:#942cfd;
        border-width:1px;
        background-color: white;
        color:#942cfd;
        border-style: solid;
        border-radius: 2px;
        font-weight: bold;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;        
        cursor: pointer;
        margin-left: 10px;
        transition: background-color 0.15s,color 0.15s,opacity 0.15s,box-shadow 0.15s;
}
.buttons button:hover{
    background-color:#942cfd;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.buttons button:active{
    opacity: 0.8;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.imgbox img{
    position:relative;
    height: 100%;
    width: calc(130%-80px);
    animation: animateUser 2s linear infinite;
    top: -100px;
    right: 50px;
    z-index: 2;
    transform: translate(5%,10%);
}
@keyframes animateUser{
    50%{
        top: -80px;
        right: 30px;
    }
}
.imgbox #splash{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    filter: saturate(100%);
    transform: translate(-5%,-10%) rotate(-10deg);
    animation: animate 2s linear infinite;
    z-index: 1;
    border-radius: 0%;
}
@keyframes animate{
    50%{
        top:0;
        left: 0;
        width: 130%;
    }
}
